main {
    width: calc(100% - var(--aside-width-max));
    height: 100%;
    background: #ffffff;
    padding: 15px 20px 0px 20px;
}

main .video-link-wrapper {
    width: 100%;
    max-width: 300px;
    height: 280px;
    cursor: pointer;
}

main .video-link-wrapper:not(:first-child) {
    margin-top: 20px;
}

main .video-banner {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
}

main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .video-info {
    height: 100px;
    padding-top: 10px;
}

.owner-icon {
    width: 36px;
    height: 36px;
    background: #666666;
    color: white;
    border-radius: 50%;
}

.owner-icon img {
    border-radius: 50%;
}

main .video-info>div:last-child {
    width: calc(100% - 45px);
    color: #666666;
}

main .video-title {
    color: #000000;
}

main .owner-name {
    margin-top: 8px;
}

body {
    min-width: 320px;
}

@media screen and (min-width: 580px) {
    main .video-row-wrapper {
        flex-direction: row !important;
        width: 100%;
    }

    main .video-link-wrapper:not(:first-child) {
        margin-left: 10px;
        margin-top: 0;
    }

    main .video-row-wrapper .video-link-wrapper:nth-child(3),
    main .video-row-wrapper .video-link-wrapper:nth-child(4) {
        display: none;
    }

    main .video-row-wrapper:not(:first-child) {
        margin-top: 20px;
    }
}

@media screen and (min-width: 720px) {
    main .video-row-wrapper .video-link-wrapper:not(:first-child) {
        margin-left: 15px;
    }
}

@media screen and (min-width: 900px) {
    main .video-row-wrapper .video-link-wrapper:nth-child(3) {
        display: flex;
    }
}

@media screen and (min-width: 1170px) {
    :root {
        --aside-width-max: 150px;
    }

    nav .menu-icon {
        display: none;
    }

    aside {
        display: flex !important;
        width: max-content !important;
        position: static !important;
    }

    .aside-max {
        padding: 15px 0px 0px 20px;
    }

    .overlay {
        display: none !important;
    }
}

@media screen and (min-width: 1250px) {
    main .video-row-wrapper .video-link-wrapper:nth-child(4) {
        display: flex;
    }
}