:root {
    --border-color: #f1f1f1;
    --border-radius: 10px;
    --default-background-color: white;
    --text-color: black;
    --button-padding: 20px 10px;
    --input-padding: 16px 8px;
    --input-bacground-color: #f1f1f1;
    --button-color: black;
    --button-background-color: yellow;

    --aside-width: 100px;
    --nav-height: 60px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    border: none;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.0rem;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background: #212121;
    height: var(--nav-height);
}

nav .l-n-c {
    display: flex;
    align-items: center;
}

nav .sm-menu {
    cursor: pointer;
    margin-right: 20px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .sm-menu:hover {
    background: #333333;
}

nav .logo {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    background: #f60;
    padding: 2px 8px;
    border-radius: 5px;
    cursor: pointer;
}

nav .logo svg {
    margin-right: 5px;
    width: 27px;
    height: 24px;
}

nav .r-n-c {
    display: flex;
    align-items: center;
}

nav .sm-search {
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .nav-search {
    display: none;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0px 50px;
}

nav .nav-search input {
    width: 100%;
    font-size: 14px;
    outline: none;
    border: 1px solid #333333;
    background: none;
    padding: 8px 16px;
    padding-right: 40px;
    border-radius: 10px;
    color: #bbb;
}

nav .nav-search .search-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    background: #333333;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

nav .nav-search svg {
    color: #999;
}

nav .sm-search:hover {
    background: #333333;
}

nav .nav-search .search-icon:hover {
    background: #444444;
}

nav .watch-list {
    display: none;
    color: #ffffff;
    align-items: center;
}

nav .watch-list.btn {
    padding: 8px 12px;
}

nav .watch-list svg {
    margin-right: 10px;
}

nav .watch-list:hover {
    background: #333333;
}

nav .more-options {
    margin: 0px 20px;
    display: none;
}

nav .more {
    cursor: pointer;
    color: #fff;
}

.btn {
    width: max-content;
    padding: 8px 20px;
    background: transparent;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
}

nav .login {
    color: #ffffff;
    border: 1px solid #333333;
    margin-left: 20px;
}

nav .login:hover {
    background: #333333;
    border-color: transparent;
}
main{
    width: 100%;
    display: flex;
    flex-direction: row;
}
aside{
    width: var(--aside-width);
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--nav-height));
    padding-top: 15px;
}
.aside-link{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
}
.aside-link span{
    font-size: 12px;
    margin-top: 5px;

}